In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score,mean_absolute_error,accuracy_score
from sklearn.preprocessing import StandardScaler

In [3]:
df=pd.read_csv(r"D:\college materials\3 semester 2\neural network\section\smoke_detection_iot.csv")
df.head()

   Unnamed: 0  Temperature[C]  Humidity[%]  eCO2[ppm]  Fire Alarm
0           0          20.000        57.36        400           0
1           1          20.015        56.67        400           0
2           2          20.029        55.96        400           0
3           3          20.044        55.28        400           0
4           4          20.059        54.69        400           0

In [4]:
df.drop(columns=['Unnamed: 0'],inplace=True)
df

       Temperature[C]  Humidity[%]  eCO2[ppm]  Fire Alarm
0              20.000        57.36        400           0
1              20.015        56.67        400           0
2              20.029        55.96        400           0
3              20.044        55.28        400           0
4              20.059        54.69        400           0
...               ...          ...        ...         ...
62625          18.438        15.79        400           0
62626          18.653        15.87        400           0
62627          18.867        15.84        400           0
62628          19.083        16.04        400           0
62629          19.299        16.52        400           0

[62630 rows x 4 columns]

In [5]:
df.describe()

       Temperature[C]   Humidity[%]     eCO2[ppm]    Fire Alarm
count    62630.000000  62630.000000  62630.000000  62630.000000
mean        15.970424     48.539499    670.021044      0.714626
std         14.359576      8.865367   1905.885439      0.451596
min        -22.010000     10.740000    400.000000      0.000000
25%         10.994250     47.530000    400.000000      0.000000
50%         20.130000     50.150000    400.000000      1.000000
75%         25.409500     53.240000    438.000000      1.000000
max         59.930000     75.200000  60000.000000      1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62630 entries, 0 to 62629
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature[C]  62630 non-null  float64
 1   Humidity[%]     62630 non-null  float64
 2   eCO2[ppm]       62630 non-null  int64
 3   Fire Alarm      62630 non-null  int64
dtypes: float64(2), int64(2)
memory usage: 1.9 MB

In [7]:
def uniquecounts(df):
    for x in df.columns:
        print(x , len(df[x].unique()), df[x].unique())
uniquecounts(df)

Temperature[C] 21672 [20.    20.015 20.029 ... 15.714 16.333 16.957]
Humidity[%] 3890 [57.36 56.67 55.96 ... 16.59 15.99 15.84]
eCO2[ppm] 1713 [ 400  403  406 ... 1365 1013  948]
Fire Alarm 2 [0 1]

In [8]:
#train test split
x=df.drop(columns=['Fire Alarm'])
y=df['Fire Alarm']
X_train,X_test,y_train,y_test =train_test_split(x,y,test_size=0.3,random_state=42)

In [9]:
scale=StandardScaler()
scale.fit(X_train,X_test)
X_train_scaled=scale.transform(X_train)
X_test_scaled=scale.transform(X_test)

X_train_scaled=pd.DataFrame(X_train_scaled,columns=X_train.columns)
X_test_scaled=pd.DataFrame(X_test_scaled,columns=X_test.columns)

In [10]:
#modeling
lr=RandomForestClassifier()
lr_scaled=RandomForestClassifier()

lr.fit(X_train,y_train)
lr_scaled.fit(X_train_scaled,y_train)

y_pred=lr.predict(X_test)
y_pred_scaled=lr_scaled.predict(X_test_scaled)

print('r2 score : ', r2_score(y_test,y_pred))
print('MEA : ', mean_absolute_error(y_test,y_pred))

print('r2 score scaled: ', r2_score(y_test,y_pred_scaled))
print('MEA scaled: ', mean_absolute_error(y_test,y_pred_scaled))

r2 score :  0.8149032523048337
MEA :  0.03805418063760711
r2 score scaled:  0.8161976351558489
MEA scaled:  0.03778806748629517

In [12]:
# example: your new input sample (same feature structure as X_train)
new_sample = [[0, 0, 1358]]  # put your actual values here

# predict using the model trained on unscaled data
prediction = lr.predict(new_sample)
print("Prediction (unscaled model):", prediction)

Prediction (unscaled model): [0]

c:\Users\Gell G15\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [16]:
import joblib
from sklearn.ensemble import RandomForestClassifier

# بعد التدريب
model = RandomForestClassifier()
model.fit(X_train, y_train)

# احفظي النموذج
joblib.dump(lr, 'Cognitive.pkl')

['Cognitive.pkl']